/* Clearfix class starts */
.clearfix:before,
.clearfix:after
{
    content: " ";
    /* 1 */display: table; /* 2 */
}
.clearfix:after
{
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix
{
    *zoom: 1;
}
/* End of clearfix */

/*The body*/
body
{
    background-color: #E9E4D0
}
/*The Header*/
.hea
{
    background-color: #00643A;
    height: 45px;
    /*position: relative;*/
    width: 100%;
}
.img-logo
{
    position: absolute;
    left: 155px;
}
.img-search
{
    position: absolute;
    left: 1100px
}
.img-store
{
    position: absolute;
    left: 1210px;
}
.img-smart_treating
{
    float: left;
    padding-left: 754px;
}
.menu
{
    position: absolute;
    top: -3px;
    left: 298px;
    /*list-style-type: none;*/
}
.menu-list li 
{
    display: inline;
    border-right:1px solid #bbb;
    /*padding-left: 10px;
    padding-right:10px;*/
    padding: 0 16px;
}
li:last-child 
{
    border-right: none;
}
.menu-list li a
{
    text-decoration: none;
    font-size: 14px; 
    color: #ffffff;
}
.img-facebook
{
    width: 15px;
    height: 15px;
    padding-top: 20px;
    padding-left: 156px;
}

/*The Content*/
.img-veterinarians
{
    float: right;
    padding-top: 8px;
}
/*The First Row*/
.content-inner
{
    padding-left: 20px;
}
.content
{
    background-color: #F2EFDE;
    width: 970px;
    margin: 0 auto;
    margin-top: 70px;
}
h1
{
    font-size: 32px;
    color: #0B7142;
    padding-top: 13px;
}
.para-one
{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -22px;
}

/*The Second Row*/
.img-cat_dental_care
{
    position: relative;
    padding-top: 19px;
}
h4
{
    font-size: 20px;
    color: #006B3F;
    line-height: 18px; 
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
.para-two
{
    position: absolute;
    left:800px;
    top: 263px;
    background-color: #A7A7A7;
    height: 121px;
    width: 321px;
}
.para-two p
{
    margin-top: -23px;
    font-size: 12.5px;
    margin-left: 10px;
    padding-right: 2px;
}
.para-two a
{
    text-decoration: none;
    color: #268F93;
    font-size: 12px;
    font-weight:bold;
}
.button
{
    margin-top: -20px;
    float: right;
    margin-right: 35px;
    font-size: 11px;
}
.button ul
{
    list-style: none;
}
.button ul li
{
    display: inline;
}
.button-img li a
{
    text-decoration: none;
    color: gray;
    padding-right: 8px;
}
button
{
    height: 17px;
    width: 15px;
    font-size:10px;
    text-align: center; 
    border-radius: 3px;
    padding-right: 5px;
    padding-left:1px;
    background-color: #ffffff;
    margin-right: 3px;
}

/*start of the third line*/
.vetical-line{border-color: #C8C4B9 ;border-style: solid;border-width: 0 1px 0 0;height:410px;margin-right: 485px;margin-top: 20px;}
.left-content{float: left;width: 450px;}
.right-content{float: left;width: 400px;}
.line-one{font-size: 16px; color: #A56818;font-weight: bold;}
.line-one a{color:#268F93;font-size: 10px;font-weight:bold;padding-left :200px;}
.line2-right .head-line{color: #2D7D56;font-size: 16px;font-weight:bold;}
.line2-right .line2-right-content{font-size: 11px; line-height: 19px;margin-top: -14px;} 
.line2-right .line2-right-content a{color: #268F93 ;font-size: 10px;font-weight: bold;}
.line2-right{float: left;width: 213px;margin-top: -21px;padding-left: 27px;}
.line2-left{float: left;width: 185px;}
.line-two{padding-top: 20px;}
.heading{font-size: 14px;color:#2D7D56;margin-top:0;font-weight: bold;}
.link{color:#268F93;font-size: 10px;font-weight:bold; }
.content-para{font-size: 10px;line-height: 19px;margin-top: -10px;margin-right: 10px;}
.line-three{padding-top: 145px;}
/*end of the third line*/

/*end of the content*/
