/* Clearfix class starts */
.clearfix:before,
.clearfix:after 
{
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after
{
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix 
{
    *zoom: 1;
}

/* End of clearfix */

.wrapper
{
    width: 100%;
    position: relative;
}
#movingtag
{
    background-image: url("../images/mars.png");
    /*background-color: #000000;*/
    height: 118px;
    width: 320px;
    position: absolute;
}